
.Navbar {
    align-items: center;
    display: flex;
    background-color: #f0f0f0;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
    max-width: 100%;
}

.appear{
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 0px 20px 0px 20px;
    width: 1280px;
    max-width: calc(100% - 40px);
}

.title {
    color: #000000;
    flex: none;
    font-size: 32px;
    font-weight: 700;
    height: auto;
    line-height: 1;
    text-align: left;
    width: 41%;
    max-width: 41%;
    justify-content: flex-start;
    text-decoration: none;
    
}

.pages {
    align-content: center;
    align-items: center;
    background: #EEEEEE;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    width: 50%;
    max-width: 50%;
}

.pages a{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    height: auto;
    line-height: 1.4;
    margin: 0px 40px 0px 0px;
    text-align: center;
    transition-timing-function: ease-in-out;
    width: auto;
    max-width: calc(100% - 40px);
    justify-content: center;
    text-decoration: none;
}